h1 {
    color: black;
    margin: 30px;
}

.container textarea {
    margin: 10px 60px 10px 45px;
    border-color: blue;
    outline: none;
    border-radius: 20px;
    padding: 25px;
    background: transparent;
    border-style: solid;
    box-shadow: 0 0 8px rgba(113,158,206,0.6);
}

textarea:focus {
    outline: none;
    border-color: transparent;
}

::placeholder {
    color: blue;
    opacity: 1;
}

p{
	color: white;
}

body{
	background: black;
}

button{
	color: whitw;
	background: black;
	box-shadow: black;
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	width: 10px;	
}
