h1 {
    color: white;
    margin: 30px;
}

.container textarea {
    margin: 10px 60px 10px 45px;
    outline: none;
    border-radius: 20px;
    padding: 25px;
    background: transparent;
    border-style: solid;
    box-shadow: white;
    border-color: white;
    color: white;
}

textarea:focus {
    outline: none;
    border-color: green;
}

::placeholder {
    color: blue;
    opacity: 1;
}

p{
	color: white;
}

body{
	background: black;
}

button{
	color: white;
	background: black;
	box-shadow: grey;
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: solid;
	outline: none;
	cursor: pointer;
	width: 50px;
	height: 28px;
	border-color: white;
}
