h1{
color: white;
text-align: center;
margin: 20px auto;
}

p{
color: white;
}

textarea{
outline: none;
border-radius: 20px;
padding: 20px;
border: 1px solid grey;
display: block;
margin: 20px auto;
width: 80%;
}

textarea:focus{
color: blue;
outline: none;
box-shadow: 0 0 10px;
}

.container{
text-align: center;
}

::placeholder{
color: grey;}

button{
background: white;
color: black;
outline: none;
cursor: pointer;
padding: 10px 25px;
border-radius: 15px;
border: 2px solid #444;
margin: 10px;
font-weight: bold;
width: 150px;
transition: transform 0.2s;
}

button:hover{
transform: scale(1.1);
}
body{
background: black;
display: flex;
flex-direction: column;
align-items: center;
}

.active-btn{
background: #00ff00! important;
box-shadow: 0 0 20px #00ff00;
transition: 0.3s;
}


